body {
    background-color: bisque;
    --board-bg-color: rgb(247, 152, 142);
}

.board-container {
    background-color: var(--board-bg-color);
    height: 600px;
    width: 600px;
    margin: auto;
    margin-right: 5%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: #eee;
    text-align: center;
}

.board {
    height: 80%;
    width: 90%;
    background-color: gray;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}

.cell {
    background-color: var(--board-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: #eee;
}

.container {
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.info {
    display: flex;
    flex-direction: column;
    height: 600px;
    margin: 10%;
}

.info-text {
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

hr {
    width: 100%;
    height: 1px;
    border: none;
    background: black;
}

button {
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 3px 2px gray;
    margin: 20px 0;
    width: 200px;
    padding: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    background-color: slategray;
    color: white;
}